<footer>
  <div class="footer-item">
    <span>Santiago Pareja-Pérez</span>
  </div>

  <div class="footer-item">
    <a class="footer-link-icon" href="https://gitlab.com/ItRemainsConsistent/itremainsconsistent.gitlab.io">
      <i class="footer-icon" data-feather="gitlab"></i>
    </a>
    <a class="footer-link-name" href="https://gitlab.com/ItRemainsConsistent/itremainsconsistent.gitlab.io">
      GitLab
    </a>
  </div>

  <div class="footer-item">
    <a class="footer-link-icon" href="mailto:itremainsconsistent@proton.me">
      <i class="footer-icon" data-feather="mail"></i>
    </a>
    <a class="footer-link-name" href="mailto:itremainsconsistent@proton.me">
      Email
    </a>
  </div>

  <div class="footer-item">
    <a class="footer-link-icon" style="text-decoration: none;" href="/feed.xml">
      <i class="footer-icon" data-feather="rss"></i>
    </a>
    <a class="footer-link-name" href="/feed.xml">
      Atom
    </a>
  </div>
</footer>