<article>
  $if(subtitle)$
  <h1 class="titlewithsubtitle">$title$</h1>
  <p class="subtitle">$subtitle$</p>
  $else$
  <h1>$title$</h1>
  $endif$
  <p class="date">$date$</p>
  $body$
  <footer>
    <p>
      $if(has_previous)$
      <a href="$previous_url$">$previous_title$ - Previous</a>
      $else$
      <span>Oldest</span>
      $endif$
      |
      $if(has_next)$
      <a href="$next_url$">Next - $next_title$</a>
      $else$
      <span>Newest</span>
      $endif$
      $if(has_tags)$

      <br><br>

      $partial("templates/tags-list.html")$
      $endif$
    </p>
  </footer>
</article>

<script src="https://giscus.app/client.js"
        data-repo="ItRemainsConsistent/itremainsconsistent.gitlab.io"
        data-repo-id="R_kgDOM4jp4g"
        data-category="Announcements"
        data-category-id="DIC_kwDOM4jp4s4Ci4Uz"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>